In [64]:
from refugee_analysis import *

### Ken M Data Import

In [3]:
ken_m_data = getpickle('ken_m_data.pkl')

In [4]:
ken_m_data.head()

                  civil_liberties  political_rights  female_legislators  \
year countrycode
2008 AFG                        6                 5                27.7
     AGO                        5                 6                37.3
     ALB                        3                 3                 7.1
     ARE                        5                 6                22.5
     ARG                        2                 2                40.0

                  population_growth  population_female  life_expectancy  \
year countrycode
2008 AFG                   2.485315          48.512909        58.225024
     AGO                   3.374180          50.493712        49.847390
     ALB                  -0.767343          49.610212        76.632317
     ARE                  13.810060          25.880062        76.307756
     ARG                   1.025393          51.087196        75.166268

                  population_15_64  zscores
year countrycode
2008 AFG                 49.946087        1
     AGO                 49.356104        1
     ALB                 66.816430        1
     ARE                 84.600650        0
     ARG                 63.456290        0

### Ken C Data Import

In [51]:
ken_c_data = pd.read_csv('securitydataset(complete).csv')

a    Number of Armed Conflict during Calendar Year    discrete

b    Nature of Conflict: Government/Governance    categorical (0-1 range)

c    Nature of Conflict: Territory    categorical (0-1 range)

d    Number Killed during Calendar Year    categorical (0-2 range)

e    Cummulative Intensity (Total deaths > 1000)    categorical (0-1 range)

f    EAC    categorical (0-1 range)

g    IIAC    categorical (0-1 range)

h    InternalAC    categorical (0-1 range)

i    InterstateAC    categorical (0-1 range)

In [52]:
ken_c_data = ken_c_data.set_index(['year', 'countrycode']).sort_index()

In [53]:
ken_c_cat_names = ['a','b','c','d','e','f','g','h','i']
ken_c_preferred_names = ['NumArmedConflicts',\
                         'NatureOfConflictGov',\
                         'NatureOfConflictTerr',\
                         'NumKilled',\
                         'CummIntensity',\
                         'EAC',\
                         'IIAC',\
                         'InternalAC',\
                         'InterstateAC']
columns_wanted = ['peace_index', 'terror_index'] + ken_c_preferred_names

In [54]:
for i, column in enumerate(ken_c_cat_names):
    ken_c_data[ken_c_preferred_names[i]] = ken_c_data[column]
    
ken_c_data = ken_c_data[columns_wanted]

In [55]:
ken_c_data.head()

                  peace_index  terror_index  NumArmedConflicts  \
year countrycode
2008 AFG                2.983         8.011                  1
     AGO                2.132         0.000                  0
     ALB                1.911         0.000                  0
     ARE                1.584         0.000                  0
     ARG                1.791         0.363                  0

                  NatureOfConflictGov  NatureOfConflictTerr  NumKilled  \
year countrycode
2008 AFG                            1                     0          2
     AGO                            0                     0          0
     ALB                            0                     0          0
     ARE                            0                     0          0
     ARG                            0                     0          0

                  CummIntensity  EAC  IIAC  InternalAC  InterstateAC
year countrycode
2008 AFG                      1    0     1           0             0
     AGO                      0    0     0           0             0
     ALB                      0    0     0           0             0
     ARE                      0    0     0           0             0
     ARG                      0    0     0           0             0

### Dan Data Import

In [74]:
dan_data = getpickle('dan_data.pkl')

In [76]:
dan_data.head()

                  adolescent_fertility  have_good_sanitation  \
year countrycode
2008 AFG                    111.470800             28.000000
     AGO                    185.912000             43.300000
     ALB                     19.039600             89.600000
     ARB                     49.901458             77.435752
     ARE                     29.422600             97.500000

                  labor_force_participation  population_total  unemployment  \
year countrycode
2008 AFG                          48.000000          26528741      8.900000
     AGO                          69.099998          19842251      6.800000
     ALB                          55.900002           2947314     13.000000
     ARB                          49.229262         336662433     10.504797
     ARE                          77.099998           6900142      4.000000

                  inflation  population_65_up
year countrycode
2008 AFG          30.554941          2.228685
     AGO          12.473713          2.377921
     ALB           3.359242          9.960492
     ARB          11.270665          4.147783
     ARE          12.250420          0.717594

### Bryan Data Import

In [61]:
bryan_data = getpickle('bryan_data.pkl').sort_index()

In [63]:
bryan_data.head()

                   gdp_ppp  food_production_dom  labor_force_participation  \
countrycode year
AFG         2009 -0.810522             0.070424                  -1.534400
            2010 -0.805087             0.036225                  -1.524577
            2011 -0.800713            -0.244205                  -1.534400
            2012 -0.789136             0.389262                  -1.544223
            2013 -0.788877             0.245627                  -1.544223

                  youth_unemployment  foreign_investment  zscores
countrycode year
AFG         2009           -0.697446           -0.285341        1
            2010           -0.697446           -0.286011        1
            2011           -0.697446           -0.285995        1
            2012           -0.697446           -0.285977        1
            2013           -0.697446           -0.286079        1