In [2]:
from refugee_analysis import *

In [3]:
ken_m_data = getpickle('ken_m_data.pkl')

In [4]:
ken_m_data.head()

                  civil_liberties  political_rights  female_legislators  \
year countrycode
2008 AFG                        6                 5                27.7
     AGO                        5                 6                37.3
     ALB                        3                 3                 7.1
     ARE                        5                 6                22.5
     ARG                        2                 2                40.0

                  population_growth  population_female  life_expectancy  \
year countrycode
2008 AFG                   2.485315          48.512909        58.225024
     AGO                   3.374180          50.493712        49.847390
     ALB                  -0.767343          49.610212        76.632317
     ARE                  13.810060          25.880062        76.307756
     ARG                   1.025393          51.087196        75.166268

                  population_15_64  zscores
year countrycode
2008 AFG                 49.946087        1
     AGO                 49.356104        1
     ALB                 66.816430        1
     ARE                 84.600650        0
     ARG                 63.456290        0