In [1]:
# # DO NOT RUN THIS CODE
# # ONLY DAN SHOULD RUN THIS TO FIX HIS KERNEL

# import sys
# print sys.executable

# paths = ['', '/Users/dyawitz/anaconda/bin', '/Users/dyawitz/anaconda/lib/python27.zip', '/Users/dyawitz/anaconda/lib/python2.7/plat-darwin', '/Users/dyawitz/anaconda/lib/python2.7/plat-mac', '/Users/dyawitz/anaconda/lib/python2.7/plat-mac/lib-scriptpackages', '/Users/dyawitz/anaconda/lib/python2.7/lib-tk', '/Users/dyawitz/anaconda/lib/python2.7/lib-old', '/Users/dyawitz/anaconda/lib/python2.7/lib-dynload', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/Sphinx-1.3.1-py2.7.egg', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/setuptools-18.5-py2.7.egg', '/Users/dyawitz/anaconda/lib/python2.7/site-packages', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/aeosa', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/IPython/extensions', '/Users/dyawitz/.ipython']

# for i in paths:
#    sys.path.append(i)

/Users/dyawitz/anaconda/envs/py27/bin/python

In [2]:
from sqlalchemy import create_engine
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# CONFIG = {}

# with open('config.txt', "r") as in_file:
#     for line in in_file:
#         line = line.split(":")
#         parameter = line[0].strip()
#         value = line[1].strip()
#         CONFIG[parameter] = value
                
# engine_path = 'postgresql://'+CONFIG['username']+':'+\
#                 CONFIG['password']+'@'+CONFIG['ip']+\
#                 ':'+CONFIG['port']+'/'+CONFIG['database']
        
# engine = create_engine(engine_path)

Connect to Emily's EC2 mcnulty server'

In [3]:
username = 'dyawitz'
password = 'mcnulty'
path = str('postgresql://' + username + ':' + password + '@54.208.89.163:5432/emily')
engine = create_engine(path)

Pick the tables you want to pull data from. These will be your features.

In [4]:
table_names = ['adolescent_fertility', \
               'cell_phones_per100', \
               'elec_per_capita', \
               'gdp_growth', \
               'have_good_sanitation', \
               'internet_per100', \
               'labor_force_participation', \
               'population_total', \
               'rural_pop_in_poverty', \
               'unemployment', \
               'vulnerable_employment_f', \
               'vulnerable_employment_m']

In [5]:
def makeSQLQuery2(table_names):
    '''list of table names -- > SQL query to pull a table for which the columns are:
    
        countrycode, year, [table_names]
        
        Joins thsoe tables on countrycode and year, one at a time
        
        '''
    current_unit = 'a'
    
    query = '(SELECT ' + table_names[0] + '.countrycode AS countrycode, ' + \
            table_names[0] + '.year AS year, ' + \
            table_names[0] + '.value AS ' + table_names[0] + ', '  +\
            table_names[1] + '.value AS ' + table_names[1] + \
            ' FROM ' + table_names[0] + \
            ' JOIN ' + table_names[1] + \
            ' ON ' + table_names[0] + '.countrycode=' + table_names[1] + '.countrycode' + \
            ' AND ' + table_names[0] + '.year=' + table_names[1] + '.year)'

    
    for name in table_names[2:]:
        stem = '(SELECT a.*, ' + name + '.value AS ' + name + ' FROM'
        tail = ' AS a JOIN ' + name + \
                ' ON a.countrycode = ' + name + '.countrycode ' \
                'AND a.year = ' + name + '.year)'
        
        query = stem + query + tail
    
    #if joining with disasters, add this code
    stem2 = '(SELECT a.*, disaster, homeless, countryname FROM '
    tail2 = ' AS a JOIN disasters ON a.year = disasters.year AND a.countrycode = disasters.countrycode)'
    query = stem2 + query + tail2
    
    return query

In [6]:
query = makeSQLQuery2(table_names)

Run that SQL query, and import it into a dataframe.

In [7]:
df = pd.read_sql_query(query, engine)
print len(df)
df.head(20)

383

,countrycode,year,adolescent_fertility,cell_phones_per100,elec_per_capita,gdp_growth,have_good_sanitation,internet_per100,labor_force_participation,population_total,rural_pop_in_poverty,unemployment,vulnerable_employment_f,vulnerable_employment_m,disaster,homeless,countryname
0,JAM,1991,105.2688,0.102780,723.179396,4.838239,79.9,0.102780,74.000000,2406042,63.9,15.7,37.400002,46.000000,Flood,1340,Jamaica
1,LKA,1995,29.2132,0.281311,217.026908,5.500000,76.0,0.281311,55.599998,18136000,30.9,12.2,35.799999,38.599998,Flood,120000,Sri Lanka
2,CMR,1996,165.6388,0.024447,161.623883,4.911940,41.3,0.024447,68.800003,14317191,59.6,8.1,91.400002,69.500000,Epidemic,0,Cameroon
3,PAK,1998,56.9988,0.142990,344.880924,2.550234,33.2,0.142990,50.299999,132013680,34.7,5.7,75.000000,62.099998,Storm,0,Pakistan
4,PAK,1998,56.9988,0.142990,344.880924,2.550234,33.2,0.142990,50.299999,132013680,34.7,5.7,75.000000,62.099998,Landslide,3000,Pakistan
5,PAK,1998,56.9988,0.142990,344.880924,2.550234,33.2,0.142990,50.299999,132013680,34.7,5.7,75.000000,62.099998,Flood,0,Pakistan
6,PAK,1998,56.9988,0.142990,344.880924,2.550234,33.2,0.142990,50.299999,132013680,34.7,5.7,75.000000,62.099998,Epidemic,0,Pakistan
7,PAK,1998,56.9988,0.142990,344.880924,2.550234,33.2,0.142990,50.299999,132013680,34.7,5.7,75.000000,62.099998,Earthquake,600,Pakistan
8,BOL,1999,90.9858,5.050750,421.987337,0.426885,36.8,5.050750,70.599998,8182710,84.0,4.3,75.599998,58.099998,Wildfire,2800,Bolivia
9,BOL,1999,90.9858,5.050750,421.987337,0.426885,36.8,5.050750,70.599998,8182710,84.0,4.3,75.599998,58.099998,Flood,600,Bolivia
10,BOL,1999,90.9858,5.050750,421.987337,0.426885,36.8,5.050750,70.599998,8182710,84.0,4.3,75.599998,58.099998,Epidemic,0,Bolivia
11,ETH,1999,112.6048,0.010505,22.927906,5.162146,7.3,0.010505,80.800003,64550161,45.4,8.2,92.800003,88.800003,Flood,125000,Ethiopia
12,ETH,1999,112.6048,0.010505,22.927906,5.162146,7.3,0.010505,80.800003,64550161,45.4,8.2,92.800003,88.800003,Epidemic,0,Ethiopia
13,ETH,1999,112.6048,0.010505,22.927906,5.162146,7.3,0.010505,80.800003,64550161,45.4,8.2,92.800003,88.800003,Drought,0,Ethiopia
14,BGD,2000,112.3716,0.210752,101.720939,5.293295,45.4,0.210752,70.699997,131280739,52.3,3.3,84.199997,59.700001,Storm,73500,Bangladesh
15,BGD,2000,112.3716,0.210752,101.720939,5.293295,45.4,0.210752,70.699997,131280739,52.3,3.3,84.199997,59.700001,Flood,12000,Bangladesh
16,BGD,2000,112.3716,0.210752,101.720939,5.293295,45.4,0.210752,70.699997,131280739,52.3,3.3,84.199997,59.700001,Extreme temperature,0,Bangladesh
17,BGD,2000,112.3716,0.210752,101.720939,5.293295,45.4,0.210752,70.699997,131280739,52.3,3.3,84.199997,59.700001,Epidemic,0,Bangladesh
18,BGD,2000,112.3716,0.210752,101.720939,5.293295,45.4,0.210752,70.699997,131280739,52.3,3.3,84.199997,59.700001,Earthquake,0,Bangladesh
19,BOL,2000,89.9622,6.858169,419.808737,2.507811,37.7,6.858169,70.500000,8339512,87.0,4.8,73.199997,60.500000,Flood,0,Bolivia

In [8]:
len(df[df['homeless'] > 10])

74

In [9]:
df['binary'] = df['homeless'].apply(lambda x: 1 if x > 0 else 0)

In [10]:
col_names = ['adolescent_fertility', \
               'cell_phones_per100', \
               'elec_per_capita', \
               'gdp_growth', \
               'have_good_sanitation', \
               'internet_per100', \
               'labor_force_participation', \
#                'population_total', \
               'rural_pop_in_poverty', \
               'unemployment', \
#                'vulnerable_employment_f', \
               'vulnerable_employment_m'
            ]

In [11]:
#X values should be all the columns with our demographic variables (see table_names)
X = df[col_names]

#y is a binary representation of whether or not people were displaced by a natural disaster
y = df['binary']

In [12]:
from sklearn.cross_validation import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.30, random_state=4444)

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [14]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, average_precision_score, f1_score

In [15]:
names, accs, prec, rec, f1s = [], [], [], [], []
for algorithm in (LogisticRegression, KNeighborsClassifier, \
                  GaussianNB,SVC, DecisionTreeClassifier, RandomForestClassifier):
    model = algorithm()
    model.fit(xtrain, ytrain)
    
#     print(algorithm.__name__, '\n', classification_report(ytest, model.predict(xtest), '\n')
          
    ypredict = model.predict(xtest)

    names.append(algorithm.__name__)
    accs.append(accuracy_score(ytest, model.predict(xtest)))
    prec.append(precision_score(ytest, model.predict(xtest)))
    rec.append(recall_score(ytest, model.predict(xtest)))
    f1s.append(f1_score(ytest, model.predict(xtest)))

/Users/dyawitz/anaconda/lib/python2.7/site-packages/sklearn/metrics/classification.py:1074: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
/Users/dyawitz/anaconda/lib/python2.7/site-packages/sklearn/metrics/classification.py:1074: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [16]:
pd.DataFrame({' Algorithm' : names, \
             'Accuracy Score': accs, \
             'Precision Score': prec, \
              'Recall score' : prec, \
             'F1 score': f1s})

,Algorithm,Accuracy Score,F1 score,Precision Score,Recall score
0,LogisticRegression,0.826087,0.000000,0.000000,0.000000
1,KNeighborsClassifier,0.800000,0.080000,0.200000,0.200000
2,GaussianNB,0.817391,0.086957,0.333333,0.333333
3,SVC,0.800000,0.148148,0.285714,0.285714
4,DecisionTreeClassifier,0.756522,0.125000,0.166667,0.166667
5,RandomForestClassifier,0.773913,0.071429,0.125000,0.125000

In [17]:
for n in col_names: print n

adolescent_fertility
cell_phones_per100
elec_per_capita
gdp_growth
have_good_sanitation
internet_per100
labor_force_participation
rural_pop_in_poverty
unemployment
vulnerable_employment_m

### Model predicts whether there will be more than 10 displaced persons after a disaster (m=29, total=383)